<!-- <style>
   img {
     animation: shake 0.5s;
     animation-iteration-count: infinite;
   }
   
   @keyframes shake {
     0% { transform: translate(1px, 1px) rotate(0deg); }
     10% { transform: translate(-1px, -2px) rotate(-1deg); }
     20% { transform: translate(-3px, 0px) rotate(1deg); }
     30% { transform: translate(3px, 2px) rotate(0deg); }
     40% { transform: translate(1px, -1px) rotate(1deg); }
     50% { transform: translate(-1px, 2px) rotate(-1deg); }
     60% { transform: translate(-3px, 1px) rotate(0deg); }
     70% { transform: translate(3px, 1px) rotate(-1deg); }
     80% { transform: translate(-1px, -1px) rotate(1deg); }
     90% { transform: translate(1px, 2px) rotate(0deg); }
     100% { transform: translate(1px, -2px) rotate(-1deg); }
   }
</style> -->


<div style="align-content: center;padding-left: 25%;">
   <img  [src]="corona_imageurl"  style="width:20%;height:110px;"/> 
   <span style="padding:5px"></span>
   <img  [src]="india_imageurl"  style="width:20%;height:110px"/>
   <span style="padding:5px"></span>
   <img  [src]="corona_imageurl"  style="width:20%;height:110px"/>
   
</div>
   <div>
   <br>
   <div style="text-align: center;position: relative;"></div>
   <h2 style="border-block-end-color: bisque">District wise Covid Data</h2>
   <br>
   <hr style="border: 10px solid orange;
   border-radius: 0px;">
   <ng-marquee>
      <mark><b>Let's fight COVID togather-BE HOME!!! BE SAFE !!!! <a href="https://www.mohfw.gov.in/" target="__blank">MOHFW</a></b></mark>
  </ng-marquee>
   <hr style="border: 10px solid green;
   border-radius: 5px;">
   <br>
   <br>
   <h5>The below graph(s) provides Covid cases count on a daily basis across districts(for a State) and also for a specific district.</h5>
   <br>
   <br>
  </div>
  <div style="width:100%;">
    <div style="width:100%;">
    <h6 style="width:100%">Select State:</h6>
    <select [(ngModel)]="selected_state" (ngModelChange)="onDropDownChange()"  >
      <option [ngValue]="undefined" >Select Item</option>
      <option *ngFor="let item of states" >{{item}}</option>
    </select>
  </div>
  <br>
  <div style="width:100%;">
  <h6 style="width:100%">Select District:</h6>
  <select [(ngModel)]="selected_District" (ngModelChange)="onDropDownDistrictChange()" style="width:40%" [disabled]="disableDistrict" >
    <option [ngValue]="undefined" >Select Item</option>
    <option *ngFor="let item of districts" >{{item}}</option>
  </select>
  </div>
<br><br>
<hr style="border: 10px solid orange;
border-radius: 0px;">
<hr style="border: 10px solid green;
border-radius: 5px;">
<br>
</div>



   <div *ngIf="isGraphVisible" >
      <div style="align-content: center;" >
        
          <h6><b>Top 10 districts with active patients:</b></h6>
          <canvas 
              baseChart
              [chartType]="'doughnut'"
              [data]="pieData"
              [labels]="pieStateDist">
          </canvas>
      </div>
      <br>
      <br>
      <br>
      <br>
    
<!-- <h6>How many patients added on today  in my  districts ,for the state:  <b>{{selected_state}}</b></h6> -->
  <div style="align-content: center;  " >
      
    <h6>New patients in the district:  <b>{{selected_District}}</b></h6>

    <canvas width="50%" height="300px"
        baseChart
        [chartType]="'line'"
        [datasets]="this.districtChartDatalst.chartData"
        [labels]="chartLabels1"
        [options]="chartOptions"
        [legend]="true"
        (chartClick)="onChartClick($event)">
    </canvas>
  </div>
  
  <br>
  <br>
  <br>
  <br>
 
    <div style="align-content: center;" >
      
    <h6>New patients across districts in the state(best view in laptop or deselect lables):  <b>{{selected_state}}</b></h6>

    <div style="position: relative;height: 400px" >
        <canvas  
            baseChart
            [chartType]="'line'"
            [datasets]="this.chartDatalst.chartData"
            [labels]="chartLabels1"
            [options]="chartOptions"
            [legend]="true"
            (chartClick)="onChartClick($event)">
        </canvas>
      </div>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br><br>
  <hr style="border: 10px solid orange;
  border-radius: 0px;">
  <hr style="border: 10px solid green;
  border-radius: 5px;">
  <br>
    <div style="align-content: center;height: 300px;" >
        
        <h6>District wise Daily patients raise in  % :  <b>{{selected_District}}</b></h6>
    
        <canvas 
            baseChart
            [chartType]="'line'"
            [datasets]="this.districtPercentRaiseSelectedDstChartDatalst.chartData"
            [labels]="chartLabels1"
            [options]="chartOptions"
            [legend]="true"
            (chartClick)="onChartClick($event)">
        </canvas>
    
      </div>
    

  <br>
  <br>
  <br>
  <br>
  <div style="position: relative;height:450px;" >
      
      <!-- <h6>District wise Daily Growth % (from Prev Day):  <b>{{selected_District}}</b></h6> -->
      <h6>Districts wise Daily Growth % raise for  state(best view in laptop or deselect lables):  <b>{{selected_state}}</b></h6>
  
      <canvas id="disme"
          baseChart
          [chartType]="'line'"
          [datasets]="this.districtPercentRaiseChartDatalst.chartData"
          [labels]="dates"
          [options]="chartOptions"
          [legend]="true"
          (chartClick)="onChartClick($event)">
      </canvas>
    </div>


  </div>
  <br>
  <br>
  <div >
    <a   href="https://api.covid19india.org/" target="_blank">
        <img style="height:75px" [src]="github_mage">
    </a>
  </div>
   <!-- <div style="width:100%;column-span:4">
      <div style="width:50%;column-span:2">
         <span style="width: 40%" >
         <h2>Select the State:</h2>
         <ngx-select-dropdown (change)="selectionChanged($event)" [multiple]="false" [(ngModel)]="dataModel" [config]="config" [options]="dropdownOptions" style="align-items:initial"  ></ngx-select-dropdown>
      </span  >
      </div>


      <div style="width:50%;column-span:1;padding-top:2%">
        <h2>Select the District:</h2>
         <ngx-select-dropdown (change)="selectionChanged($event)" [multiple]="false" [(ngModel)]="dataModel" [config]="config" [options]="dropdownOptions"  ></ngx-select-dropdown>
      </div>
  
   </div> -->

   <!-- <p>You can easily control dropdowns programmatically using the exported dropdown instance.</p>

<div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
  <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Toggle dropdown</button>
  <div ngbDropdownMenu aria-labelledby="dropdownManual">
    <button ngbDropdownItem>Action - 1</button>
    <button ngbDropdownItem>Another Action</button>
    <button ngbDropdownItem>Something else is here</button>
  </div>
</div> -->

