 <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.1.1/Chart.js" ></script> -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
 <!-- <script src="../custom.js"></script> -->
    <span [hidden]="isFavourite">
        <p >favourite works SK!</p>
    <!-- <canvas id="myChart" width="400" height="400"></canvas> -->

        <button (click)="onClick()" title="fav.button" style="width:100px;height: 40px;">sample</button>
    </span><span [hidden]="!isFavourite" class="mycolor">
        <p><b> fav components isFavourite is</b> {{isFavourite}} <b>now !!!!</b></p>
    </span>

    <div class="wrapper">
        <h1>World population over time</h1>
        <h2>Number of people (in millions) living on earth, the last 500 years</h2>
  
        <!-- <canvas id="myChart" width="1600" height="900"></canvas> -->
        <!-- <script src="../custom.js"></script> -->

        <div style="width: 50%;height: 10px;">
            <canvas
                baseChart
                [chartType]="'line'"
                [datasets]="chartData"
                [labels]="chartLabels"
                [options]="chartOptions"
                [legend]="true"
                (chartClick)="onChartClick($event)">
            </canvas>
          </div>

      </div>

      <!-- <script>
        // Our labels along the x-axis
       var years = [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050];
       // For drawing the lines
       var africa = [86,114,106,106,107,111,133,221,783,2478];
       var asia = [282,350,411,502,635,809,947,1402,3700,5267];
       var europe = [168,170,178,190,203,276,408,547,675,734];
       var latinAmerica = [40,20,10,16,24,38,74,167,508,784];
       var northAmerica = [6,3,2,2,7,26,82,172,312,433];
       
       var ctx = document.getElementById("myChart");
       var myChart = new Chart(ctx, {
         type: 'line',
         data: {
           labels: years,
           datasets: [
             { 
               data: africa,
               label: "Africa",
               borderColor: "#3e95cd",
               fill: false
             },
             { 
               data: asia,
               label: "Asia",
               borderColor: "#8e5ea2",
               fill: false
             },
             { 
               data: europe,
               label: "Europe",
               borderColor: "#3cba9f",
               fill: false
             },
             { 
               data: latinAmerica,
               label: "Latin America",
               borderColor: "#e8c3b9",
               fill: false
             },
             { 
               data: northAmerica,
               label: "North America",
               borderColor: "#c45850",
               fill: false
             }
           ]
         }
       });
        </script> -->
    <!-- <canvas id="myChart" width="400" height="400"></canvas> -->
